# Create ".env" file

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

NEXT_PUBLIC_ANALYZE_SINGLE_VARIANT_BASE_URL=""
NEXT_PUBLIC_TWIN_PROFILE_BASE_URL=""
NEXT_PUBLIC_TWIN_SIMULATE_BASE_URL=""
NEXT_PUBLIC_TWIN_CHAT_BASE_URL=""
